<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

</head>

<body>
    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ index.base_path }}">CSforAll Module Repository
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
          {% for grade in index.grades %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink{{ loop.index }}" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{ grade.name }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink{{ loop.index }}">
                {% for module in grade.modules %}
                    <a class="dropdown-item" href="{{ index.base_path }}/{{ module.link }}">{{ module.name }}</a>
                {% endfor %}
{#                <a class="dropdown-item" href="#">Module 1</a>#}
{#                <a class="dropdown-item" href="#">Module 2</a>#}
{#                <a class="dropdown-item" href="#">Module 3</a>#}
{#                <a class="dropdown-item" href="#">Module 4</a>#}
              </div>
            </li>
          {% endfor %}
      </ul>
{#        <li class="nav-item dropdown">#}
{#          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"#}
{#            aria-haspopup="true" aria-expanded="false">#}
{#            Grade 2#}
{#          </a>#}
{#          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">#}
{#            <a class="dropdown-item" href="#">Module 1</a>#}
{#            <a class="dropdown-item" href="#">Module 2</a>#}
{#            <a class="dropdown-item" href="#">Module 3</a>#}
{#            <a class="dropdown-item" href="#">Module 4</a>#}
{#          </div>#}
{#        </li>#}
{#        <li class="nav-item dropdown">#}
{#          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"#}
{#            aria-haspopup="true" aria-expanded="false">#}
{#            Grade 3#}
{#          </a>#}
{#          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">#}
{#            <a class="dropdown-item" href=".">Module 1</a>#}
{#            <a class="dropdown-item" href="mod2.html">Module 2</a>#}
{#            <a class="dropdown-item" href="mod3.html">Module 3</a>#}
{#            <a class="dropdown-item" href="mod4.html">Module 4</a>#}
{#          </div>#}
{#        </li>#}
{#        <li class="nav-item dropdown">#}
{#          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"#}
{#            aria-haspopup="true" aria-expanded="false">#}
{#            Grade 4#}
{#          </a>#}
{#          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">#}
{#            <a class="dropdown-item" href="#">Module 1</a>#}
{#            <a class="dropdown-item" href="#">Module 2</a>#}
{#            <a class="dropdown-item" href="#">Module 3</a>#}
{#            <a class="dropdown-item" href="#">Module 4</a>#}
{#          </div>#}
{#        </li>#}

    </div>
  </nav>

    {% endblock %}
    {% block heading %}{% endblock %}
    {% block content %}{% endblock %}
</body>