{% extends "_base.html.jinja2" %}
{% block header %}
    <div class="container">
        <img class="img-fluid" src="../images/CSforAll.png" alt="CS for All banner">
        <h1 class="text-center">Module Repository</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
      <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a>
      Created by <a style = " white-space:nowrap; " href="https://www.springfieldpublicschools.com/">Springfield (MA) Public Schools</a> and <a style=" white-space:nowrap; " href="https://sites.google.com/umass.edu/csforallspringfieldma/home">the CSforAll SPS team</a>. Adapted primarily from Creative Commons licensed resources developed by the <a style = " white-space:nowrap; " href="https://scratch.mit.edu/">MIT Scratch Team</a> and the <a style = " white-space:nowrap; " href="http://scratched.gse.harvard.edu/">ScratchEd team</a> at the Harvard Graduate School of Education, with additional materials from <a style="white-space:nowrap; " href="https://code.org/">Code.org</a>. Shared under a Creative Commons license (CC BY-NC-SA 4.0).
      <br>
      <a rel="license" href="https://nsf.gov"><img alt="National Science Foundation logo" style="border-width:0; height:40px; width:40px" src="../images/nsf-logo.png" /></a>
      This material is based upon work supported by the <a style="white-space: nowrap; " href="https://nsf.gov">National Science Foundation</a> (NSF) under Grant No DRL-1837086. Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the National Science Foundation.
    </div>
    <br><br>
{% endblock %}



