{% extends "_base.html.jinja2" %}
  <!-- Header -->
{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">{{ module.display_name }}</h1>
    <p class="lead">Module Authors: {{ module.authors }}</p>
    <p class="lead">Module Editors: {{ module.editors }}</p>
    <hr class="my-4">
    <p>Content Area: {{ module.content_area }}</p>
  </div>


  <div class="container">
    <h2>Module objectives</h2>
    <ul>
        {% for objective in module.objectives %}
            <li> {{ objective }} </li>
        {% endfor %}
{#      <li>Students will understand that an algorithm is a sequence of events by acting out an algorithm using#}
{#        block-based coding. (Lesson 1)</li>#}
{#      <li>Students will create an algorithm on paper to represent and understand a multiplicative comparison word#}
{#        problem. (Lesson 2)</li>#}
{#      <li>Students will learn how to code a multiplicative comparison word problem using block-based coding (Lesson 3)#}
{#      </li>#}
{#      <li>Students will use inquiry to explore and learn about visual block-based coding. (Lessons 3-4)</li>#}
{#      <li>Students will create algorithms using block-based coding on Scratch to code a visual of a multiplicative#}
{#        comparison word problem. (Lesson 4)</li>#}
{#      <li>Students will use their knowledge of multiplicative comparison word problems and block-based coding to#}
{#        critique and debug the algorithm of another student’s work. (Lesson 5)</li>#}
    </ul>
    <h2>Web resources</h2>
    <ul>
        {% for resource_link in module.resource_links %}
            <li> <a href="{{ resource_link }}"> {{ resource_link }} </a> </li>
        {% endfor %}
{#      <li><a href="https://scratch.mit.edu/">https://scratch.mit.edu</a></li>#}
{#      <li><a href="https://login.i-ready.com/educator/dashboard/math/">https://login.i-ready.com/educator/dashboard/math</a></li>#}
    </ul>

    <!-- Accordion with Lesson info -->
    <h2>Lessons</h2>
      {% for lesson in lessons | sort(attribute="ord") %}
        <a href="./{{ lesson.dir_name }}.html" class="btn btn-primary" role="button">{{ lesson.display_name }}</a>
      {% endfor %}
{#    <a href="mod1/lesson1.html" class="btn btn-primary" role="button">Lesson 1</a>#}
{#    <a href="mod1/lesson2.html" class="btn btn-primary" role="button">Lesson 2</a>#}
{#    <a href="mod1/lesson3.html" class="btn btn-primary" role="button">Lesson 3</a>#}
{#    <a href="mod1/lesson4.html" class="btn btn-primary" role="button">Lesson 4</a>#}
{#    <a href="mod1/lesson5.html" class="btn btn-primary" role="button">Lesson 5</a>#}



  </div>

<br><br><br>
{% endblock %}
